.postcard {
    width: 800px;
    height: 600px;
    color: white;
    position: absolute;
    top: 40px;
    left: 40px;
    background-image: url("hack_her_logo.png");
    background-repeat: no-repeat;
    background-size: 350px;
    
    box-shadow: 0px 7px 20px 0px #D099D5;
  }

  .v1{
    border-left: 6px solid #D099D5;
    height: 600px;
    position: absolute;
    left: 400;
    margin-left: -3px;
    top: 0;
  }
  
  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
    padding: 15px 27px;
  }
  
  .postcard-text {
    font-family: 'News Cycle', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -.3px;
    /*text-transform: uppercase;*/
    color: #D099D5;
    background-position: bottom left;
    background-size: 600px;
    position: absolute;
    left: 0;
    padding-left: 27px;
    bottom: 0;
    padding-bottom: 15px;
    right: 140px;
    z-index: 2;
  }
  
  p {
    margin: 0;
  }

  .girl-power{
    position: absolute;
    top: 100px;
    left: 400px;
  }

  .lists{
      font-family: 'News Cycle', sans-serif;
      position: absolute;
      top: 300px;
      left: 400px;
      text-align: left;
      font-size: 16px;
      color: black;

  }

